@{
    ViewData["Title"] = "Home Page";
}

@* <div><span id="connectionId" /></div>

<input type="text" id="userInput" placeholder="User" />
<input type="text" id="messageInput" placeholder="Message" />
<input type="text" id="receiverId" />

<input type="button" id="sendButton" value="Send All" />
<input type="button" id="sendToUser" value="Send" />


<ul id="messages"></ul> *@